<%- include('../../../partials/head.ejs') %>
<link rel="stylesheet" href="/styles/croppie.css">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="card card-body">
					<form id="profilepicsForm" class="g-3" action="/posts/create" method="POST">
						<div class="form-group">
							<label for="inputTitle" class="form-label">Post Title</label>
							<input id="inputTitle" type="text" class="form-control <%= // error.title ? 'is-invalid' : '' %>" name="title" value="<%= // value.title ? value.title : '' %>" >
							<div class="invalid-feedback ">
								<%= // error.title ? error.title : '' %>
							</div>
						</div>
						<div class="form-group">
							<label for="tiny-mce-post-body" class="form-label">Post Body</label>
							<textarea name="body" id="tiny-mce-post-body" class="form-control <%= // error.body ? 'is-invalid' : '' %>" value="<%= // value.body ? value.body : '' %>"></textarea>
							<div class="invalid-feedback ">
								<%= // error.body ? error.body : '' %>
							</div>
						</div>
						<div class="form-group">
							<label for="inputTags" class="form-label">Post Tags</label>
							<input id="inputTags" type="text" class="form-control <%= // error.title ? 'is-invalid' : '' %>" name="tags" value="<%= // value.title ? value.title : '' %>" >
							<div class="invalid-feedback ">
								<%= // error.title ? error.title : '' %>
							</div>
						</div>

						<div class="form-group">
							<div class="custom-file">
								<input type="file" class="custom-file-input" id="validatedInputGroupCustomFile" required>
								<label class="custom-file-label" for="validatedInputGroupCustomFile">Choose file...</label>
							</div>
						</div>

						<div class="input-group">
							<button class="btn btn-primary" type="submit">Submit form</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

	<%- include('../../../partials/footer.ejs') %>
	<script src="https://cdn.tiny.cloud/1/a8kkwfiauawhw8vuzxnxu23lpojpmg5ue1i7in9i4nj6s9db/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<script src="/scripts/tinymc.js"></script>
	<script>
		tinymce.init({
			selector: '#mytextarea'
		});
		document.querySelector('.custom-file-input').addEventListener('change',function(e){
			var fileName = document.getElementById("validatedInputGroupCustomFile").files[0].name;
			var nextSibling = e.target.nextElementSibling
			nextSibling.innerText = fileName
		})
	</script>
</body>

</html>
