<%- include('../../partials/head.ejs') %>

	<div class="signup-wraper my-50">
		<div class="container">
			<div class="col-md-6 offset-md-3  ">
				<div class="card card-body">
					<form class="row g-3" action="/auth/login" method="POST">
						<div class="form-group">
							<label for="inputEmail4" class="form-label">Email</label>
							<input type="email" name="email" class="form-control  <%= error.email ? 'is-invalid' : '' %>" id="inputEmail4" value="<%= value.email ? value.email : '' %>">
							<div class="invalid-feedback">
								<%= error.email ? error.email : '' %>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword4" class="form-label">Password</label>
							<input type="password" name="password" class="form-control  <%= error.password ? 'is-invalid' : '' %>" id="inputPassword4" value="<%= value.password ? value.password : '' %>">
							<div class="invalid-feedback">
								<%= error.password ? error.password : '' %>
							</div>
						</div>
						<div class="col-12">
							<input type="submit" value="Login" class="btn btn-primary" />
							<br> Don't Have an account ? <a href="/auth/signup">  Signup Now... </a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>



	<%- include('../../partials/footer.ejs') %>
		</body>

		</html>
